language: perl
dist: jessie

sudo: enabled

cache:
  directories:
    - $HOME/server

before_install:
- cpanm -n DBI DBD::mysql
- sudo apt-get install libaio1 libaio-dev libjemalloc1 gdb libnuma1

env:
- GRAMMAR_OPTIONS="--grammar=conf/runtime/metadata_stability.yy --gendata=conf/runtime/metadata_stability.zz"
- GRAMMAR_OPTIONS="--grammar=conf/runtime/performance_schema.yy"
- GRAMMAR_OPTIONS="--grammar=conf/runtime/information_schema.yy"
- GRAMMAR_OPTIONS="--grammar=conf/engines/many_indexes.yy --gendata=conf/engines/many_indexes.zz"
- GRAMMAR_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/engines/engine_stress.zz"
- GRAMMAR_OPTIONS="--grammar=conf/partitioning/partitions.yy"
- GRAMMAR_OPTIONS="--grammar=conf/partitioning/partition_pruning.yy --gendata=conf/partitioning/partition_pruning.zz"
- GRAMMAR_OPTIONS="--grammar=conf/replication/replication.yy --gendata=conf/replication/replication-5.1.zz"
- GRAMMAR_OPTIONS="--grammar=conf/replication/replication-ddl_sql.yy --gendata=conf/replication/replication-ddl_data.zz"
- GRAMMAR_OPTIONS="--grammar=conf/replication/replication-dml_sql.yy --gendata=conf/replication/replication-dml_data.zz"
- GRAMMAR_OPTIONS="--grammar=conf/runtime/connect_kill_sql.yy --gendata=conf/runtime/connect_kill_data.zz"
- GRAMMAR_OPTIONS="--grammar=conf/runtime/WL5004_sql.yy --gendata=conf/runtime/WL5004_data.zz"

install:
- cd $HOME
- export THREADS=6
- export BASEDIR=$HOME/server
- export RQG_HOME=$HOME/rqg
- export CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_ROCKSDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DWITH_MARIABACKUP=OFF"
- export RQG_COMMON_OPTIONS="--duration=400 --threads=6 --redefine=conf/mariadb/instant_add.yy --reporters=Backtrace,ErrorLog,Deadlock --engine=InnoDB -seed=time --basedir=$BASEDIR --mysqld=--max-statement-time=30 --mysqld=--loose-debug_assert_on_not_freed_memory=0"
# SERVER_BRANCH can be redefined in build variables
- if [ -z "$SERVER_BRANCH" ] ; then SERVER=10.3 ; else SERVER=$SERVER_BRANCH ; fi
- git clone https://github.com/elenst/rqg --branch experimental rqg
- git clone https://github.com/MariaDB/server --depth=1 --branch $SERVER src
- cd rqg && git log -1

script:

- cd $HOME
- . $TRAVIS_BUILD_DIR/scripts/build_if_not_cached.sh
- cd $RQG_HOME
- mkdir $HOME/logs
- perl $RQG_HOME/runall-new.pl $GRAMMAR_OPTIONS $RQG_COMMON_OPTIONS --vardir=$HOME/logs/vardir1_1 2>&1 | tee $HOME/logs/trial1.log
- perl $RQG_HOME/runall-new.pl $GRAMMAR_OPTIONS $RQG_COMMON_OPTIONS --scenario=Restart --mysqld=--innodb_stats_persistent=0 --vardir=$HOME/logs/vardir1_2 2>&1 | tee $HOME/logs/trial2.log
- perl $RQG_HOME/runall-new.pl $GRAMMAR_OPTIONS $RQG_COMMON_OPTIONS --rpl-mode=mixed --scenario=Restart --mysqld=--innodb_stats_persistent=0 --vardir=$HOME/logs/vardir1_3 2>&1 | tee $HOME/logs/trial3.log
- perl $RQG_HOME/runall-new.pl $GRAMMAR_OPTIONS $RQG_COMMON_OPTIONS --rpl-mode=mixed --mysqld=--slave-parallel-threads=6 --vardir=$HOME/logs/vardir1_4 2>&1 | tee $HOME/logs/trial4.log

- cd $HOME
- . $TRAVIS_BUILD_DIR/scripts/collect_failure_info.sh $HOME/logs
- if [ ! -e $BASEDIR/test_result ] ; then echo $? > $BASEDIR/test_result ; fi
