language: perl
dist: jessie

sudo: enabled

before_install:
- cpanm -n DBI DBD::mysql
- sudo apt-get install libaio1 libaio-dev libjemalloc1 gdb

install:
- export TEST_HOME=`pwd`

script:
- pwd
- env
- top -n 1 -b
- df -k 
